# SSL Configuration
VITE_SSL_CERT_FILE=../192.168.199.134.pem
VITE_SSL_KEY_FILE=../192.168.199.134-key.pem
VITE_HOST=localhost

# Backend API URL
VITE_BACKEND_URL=http://localhost:8000

# Reverb WebSocket Configuration
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_PROTOCOL=http
VITE_REVERB_APP_KEY=your-reverb-app-key
