@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  display: flex;
  flex-direction: column;

  gap: 1em;
  border: thin solid;
  padding: 1em;
  top: 0;
}

.packageMenu {
  background-color: #eaeaea;
  padding: 1em;
  margin: 1em;
}